/* Form Design */
body{
    font-family: "Poppins", sans-serif;
    background: #f9f9f9;
    box-sizing: border-box;
}
h3{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding: 15px 0px;
    margin-top: 25px;
}
form{
    width: 500px;
    margin: 0 auto;
}
input{
    width: 95%;
    border: 1px solid #212121;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}
button{
    font-family: "Poppins", sans-serif;
    width: 100%;
    color: #fff;
    background: #212121;
    padding: 12px 30px;
    border: 1px solid #212121;
    border-radius: 5px;
    margin: 10px;
}

/* Form Error */
.form-error{
    text-align: center;
    color: red;
    line-height: 26px;
}
.form-success{
    text-align: center;
    color: rgb(17, 141, 79);
    line-height: 26px;
}

/* Admin */
.admin{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 30px 0px 0px;
}
.admin span{
    color: #34da58;
    text-transform: capitalize;
}